<a href="https://colab.research.google.com/github/krkhalil/Dr_Ammar_project/blob/main/dataset_generated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import pandas as pd

In [143]:
df = pd.read_excel('/content/active article detail 1.xlsx',skiprows=5)
df

        Department               Unnamed: 1  ...  Price Colli N (Min) MRP Cd (Max)
0               -1  undefined / undefiniert  ...                  NaN            0
1               -1  undefined / undefiniert  ...                  NaN            0
2               -1  undefined / undefiniert  ...                  NaN            0
3               -1  undefined / undefiniert  ...                  NaN            0
4               -1  undefined / undefiniert  ...                  NaN            0
...            ...                      ...  ...                  ...          ...
268642         629               TOILETRIES  ...                154.7            0
268643         629               TOILETRIES  ...                  NaN            0
268644         629               TOILETRIES  ...                  NaN            0
268645         629               TOILETRIES  ...                269.2            0
268646         629               TOILETRIES  ...                440.2            0

[268647 rows x 10 columns]

In [144]:
df.isna().sum()

Department                  0
Unnamed: 1                  0
Suppl                       0
Unnamed: 3                  0
Art SubSys                  0
Unnamed: 5                  1
VAT Cd                      0
MRP Sell Price         217614
Price Colli N (Min)    137530
MRP Cd (Max)                0
dtype: int64

In [145]:
Product_name = df['Unnamed: 5'].unique()
serial_no  = df['Art SubSys'].unique()
print(len(serial_no))
print(len(Product_name))
scr = []
Product = []
for i in range(0,600):
  scr.insert(i,serial_no[i])
  Product.insert(i,Product_name[i])

print('here is get product and it serial id')
print(len(scr))
print(len(Product))

211888
167855
here is get product and it serial id
600
600

In [146]:
dic = {}
for i in range(0,600):
  dic.update({scr[i]:Product[i]})
print(dic)

{212218: 'PREMIER STORAGE BOX', 212219: 'VENUS WITHOUT LOCK BOWL', 179090: '1 - 2 KG', 161315: 'FAUJI KHAGGA', 161321: '2 KG UP SINGHARI (FRESH WATER)', 162209: 'HAMOOR FILLET', 162210: 'PAN READY', 106168: '250 ML RGB COKE SHELL + BOTTLES', 107066: '250ML RGB DIET COKE SHELL + BO', 107071: '250ML RGB SPRITE SHELL + BOTTLES', 107072: '250ML RGB SPRITE 3G SHELL + BO', 107075: '250ML RGB SPRITE ZERO SHELL + BO', 107078: '250ML RGB FANTA SHELL + BO', 107080: '250ML RGB FANTA CITRUS SHELL + BO', 107095: '1000 ML RGB COKE SHELL + BOTTLES', 107106: '1000ML RGB SPRITE SHELL + BOTTLES', 107108: '1000ML RGB FANTA SHELL + BOTTLES', 119291: '250 ML RGB DIET COKE SHELL + BO', 119292: '250 ML RGB SPRITE SHELL + BO', 119293: '250 ML RGB SPRITE ZERO SHELL + BO', 119294: '250 ML RGB SPRITE 3G SHELL + BO', 119295: '250 ML RGB FANTA SHELL + BO', 119296: '250 ML RGB FANTA CITRUS SHELL+BO', 119297: '250 ML RGB PEPSI SHELL + BOTTLES', 123820: '1000 ML RGB PEPSI SHELL + BOTTLES', 123821: '19L BLK WATER SUFI EMPTY', 123822: '50GM NESCAFE MATINAL COFFEE', 123845: '145G NESCAFE CAPUCINO STRONG', 123846: '3000GM+ MORAKHI', 123847: '750-1000GM GRASS CARP', 123848: 'FLOATY MANGO 50PCS', 123849: 'FLOATY BLACK CURRANT 50PCS', 123850: 'T1 BEEF CHEESE SAUSAGES', 123851: 'T1 SMOKED VEAL', 123714: 'PAN READY HAMOOR -W-', 123735: 'SEA BAM -W-', 107277: 'KIWI IRANI PER KG (R-GR)', 231380: 'T1 400GMX16 EVERYDAY JAR PROMO', 231411: 'T1 400GM EVERYDAY  JAR PROMO', 213149: 'T1 65GMX96 BOWL PROMO MAGGI', 213150: 'T1 130GM FORTIGROW NIDO', 312253: '65GX10 NODLES BOWL PROMO MAGI', 312254: '250ML FLAVOURED MILK ZAFRAN DEL', 231346: '250 ML RGB 7-UP SHELL + BOTTLES', 231352: '250 ML RGB MIRIND SHELL + BOTTLES', 171684: '250 ML RGB M.DEW SHELL + BOTTLES', 171685: 'PANASONIC MINI DV GS-60', 231277: 'PANASONIC MINI DV GS-85', 239410: 'PANASONIC DVD CAMCDR VDR-D160E', 239411: 'PANASONIC CD-MP3 PLAYER CQ-330', 241902: 'PANASONIC CD-MP3 PLAYER CQ5303', 241905: 'PANASONIC CD-MP3 PLAYER CQ-770', 243719: 'PANASONIC SPEAKER CJ-DA-6933', 167654: 'PANASONIC SPEAKER CJ-DA-6943', 123679: 'PANASONIC SUB WOOFER CJ-SW-303', 123700: 'PANASONIC AMPILIFIER CY-PAD-10', 124247: 'PANASONIC HIFI CS-VK950', 124248: 'PANASONIC HIFI CS-VK850', 124249: 'PANASONIC HIFI CS-VK750', 113291: 'PANASONIC HIFI NC-6', 113293: 'PANASONIC HOME THEATRE HT-895', 113294: 'PANASONIC HOME THEATHER HT-995', 113315: 'PANASONIC DVD PLAYRE S2', 113325: 'PANASONIC HIFI SC VK-31', 113329: 'PANASONIC HIFI SCV K-450', 113333: 'PANASONIC 42" PLASMA TH-42PV7', 113334: 'PANASONIC 50" PLASMA TH-50PV70', 113335: 'DVD CHANGER PANASONIC CY-DH801', 113336: 'PANASONIC HIFI CS-VK960', 113345: 'FAIRLINE FACE TOWEL 30X50CM WH', 113346: 'FAIRLINE FACE TOWEL 30X50CM IV', 113347: 'FLINE FACE TOWEL 30X50CM CLR W', 113348: 'FLINE FACE TOWEL 30X50CM MIN B', 113349: 'FLINE FACE TOWEL 30X50CM COFFE', 113350: 'FLINE HANDTOWEL 50X100CM MIN B', 113351: 'FLINE BATHSHEET 90X150CM IVORY', 113352: 'FLINE BATHSHEET 90X150CM MIN B', 113353: 'FLINE BATHSHEET 90X150CM COFFE', 113355: 'FLINE FACETOWEL 30X50MIN BLUE', 113356: 'FLINE FACE TOWEL 30X50 COFFEE', 113358: 'FAIRLINE FACE TOWEL 30X50CM', 123535: 'FAIRLINE HAND TOWEL 50X100CM', 152086: 'FAIRLINE BATHTOWEL 70X140CM', 153439: 'FAIRLINE BATHSHEET 90X150CM BE', 153446: 'FAIRLINE FACE TOWEL 30X50CM TU', 153447: 'SAFETY MASK CUP SHAPE', 153448: 'SURGICAL MASK GREEN (50PCS)', 153452: 'WELDING GLOVES DOUBLE PAIR SET', 153460: 'WELDING GLOVES FINE QUALITY', 153462: 'SAFETY FOAM MASK 10PC', 153463: 'REFELECTION JACKET GREEN  TAIWAN', 153911: 'DANGREE WHITE MEDIUM', 153912: 'DANGREE WHITE EXTRA LARGE', 156023: 'FIRST AID BOX WTHOUT MEDICINE', 156024: 'ROTARY HAMMR 800W 26MM SDS BOSCH', 156028: 'ANGLE GRINDER 2100W 9" BOSCH', 156031: 'ANGLE GRINDER 2100W 7" BOSCH', 156032: 'B&D HAMMER DRILL 500W 13MM', 156033: 'B&D HAMMER DRILL 650W 13MM', 156036: 'ANGLE GRINDER 2000W 7" B&D', 156038: 'B&D CIRCULAR SAW 1500W 184MM', 159388: 'B&D ANGLE GRINDER 700W 4"', 107633: 'B&D 600W DUST BLOWER VARIABLE SPD', 107991: 'SHENZHANG 600W DUST BLOWER 1 SPD', 107997: 'PW 1700WB', 111594: 'PW 1400K', 112079: 'ELECTRIC FAIR', 125915: 'BLACK BOARD 24" X 36"', 136195: 'BLACK BOARD 36" X 48"', 136196: 'FLIP CHART BOARD 24" X 36"', 159031: 'BOARD HOLDING STAND', 137946: 'C99', 137948: 'TISA ROLLER DAMPER', 141520: 'PAPER PIN (COMMON PIN)', 147942: 'SAKURA ID CARD HOLDER', 147943: 'QUALITY RUBBER BAND BOX', 147944: 'CRYSTAL LABELS  8 UP, 100 SHEETS', 147946: 'CRYSTAL LABELS, 33 UP, 100 SHEETS', 147948: 'SCOTCH EX CLASSIC PENCIL W/ERASER', 147949: 'FANCY CLIP BOARD JUMBO', 147950: 'SNOWMAN ERASABLE MARKER70 BLACK', 147951: 'SNOWMAN ERASABLE MARKER70 BLUE', 148035: 'SNOWMAN ERASABLE MARKER70 GREEN', 151597: 'SALAM SUBJECT SPRIAL COPY #2', 151598: 'SALAM SUBJECT SPRIAL COPY #3', 151599: 'SALAM SUBJECT SPRIAL COPY #4', 151600: 'SALAM SUBJECT SPRIAL COPY #5', 151601: 'SALAM SUBJECT SPRIAL COPY #6', 151752: 'SALAM SPRIAL NOTE COPY #2', 151753: 'SALAM SPRIAL NOTE COPY #3', 151754: 'SALAM SPRIAL NOTE COPY #4', 117802: 'SALAM SPRIAL NOTE COPY A4 #2', 117803: 'SALAM SPRIAL COPY A4 #4', 117809: 'SALAM SPRIAL COPY A4 #5', 117810: 'RIZVI SPIRAL NOTECOPY #1', 118604: 'RIZVI SPIRAL NOTECOPY #2', 120786: 'RIZVI SPIRAL NOTECOPY #3', 120789: 'RIZVI SPIRAL A4 NOTECOPY #2', 120794: 'RIZVI SPIRAL A4 NOTECOPY #3', 120795: 'RIZVI SPIRAL SUBJECT COPY #2', 120806: 'RIZVI SPIRAL SUBJECT COPY #3', 120808: 'RIZVI SPIRAL SUBJECT COPY #4', 125872: 'RIZVI SPIRAL SUBJECT COPY #5', 129836: 'RIZVI SPIRAL SUBJECT COPY #6', 129841: 'HERO SPIRAL NOTE BOOK A4 #3', 129843: 'HERO SPIRAL NOTE COPY A4 #2', 129845: 'HERO SPIRAL NOTE COPY #1', 130364: 'HERO SPIRAL NOTE COPY #2', 130365: 'HERO CARD COPY 44 PAGES', 130366: 'HERO CARD COPY 60 PAGES', 130367: 'AMOS GLITTER GLUE RAINBOW', 130368: 'AMOS GLITTER GLUE CONFETTI', 130369: 'AMOS GLITTER KIT "POWDER & GLUE"', 130370: 'AMOS GLITTER POWDER NEON', 130371: 'AMOS I FOAM SUNCATCHER 5 CLRS', 130372: 'AMOS I DOUGH 8 COLORS', 130373: 'AMOS GLASS DECO 31 COLORS', 130374: 'AMOS TATTOO GEL PEN', 130375: '7 COLORS', 130376: 'PMP ROTATABLE PEN STAND', 130377: 'SPIKE FILE', 130378: 'GLOBE 10" BLUE OCEAN WITH LIGHT', 130379: 'LETTERING STENCIL 20MM', 130380: 'LETTERING STENCIL 30MM', 130381: 'LETTERING STENCIL 30MM/1.4', 130382: 'LETTERING STENCIL 50MM 4PCS SET', 130383: 'SNOWMAN PERMANENT MARKER70 BLACK', 130384: 'SNOWMAN PERMANENT MARKER70 BLUE', 130394: 'SNOWMAN PERMANENT MARKER70 RED', 130396: 'SNOWMAN PERMANENT MARKER70 GREEN', 130397: 'SNOWMAN PERMANENT MARKER90 BLACK', 130398: 'SNOWMAN PERMANENT MARKER90 BLUE', 130400: 'SNOWMAN PERMANENT MARKER90 GREEN', 130402: 'SNOWMAN PERMANENT MARKER90 RED', 130649: 'OPAL STAPLER HD-10N,ASSRT CLR', 130650: 'PMP PEN STAND P974', 130651: '3 FLOWER PAPER CLIP 52 MM', 130652: "WHITE BOARD 8' X 4'", 130654: 'PW004BML, 4PCS SET', 130655: '16 COLOURS', 130656: 'DOLLAR POINTER 0.3MM BLACK 1X10', 133835: 'DOLLAR POINTER 0.3MM BLUE 1X10', 133836: 'EURO/IGLI CORRECTION FLUID PEN', 133837: 'PELIKAN HAPPY PEN 1 PC', 133846: 'PELIKAN STICKS BALLPOINT 6 PCS', 133851: 'DIGITAL CAMERA POUCH CASE', 133854: 'MENS SHORT MICROFIBER A-1260', 133856: 'MENS3/4 TROUSER MICROFIBER A-1207', 133857: 'MEN A.WAYS THREE QURTER SHORT', 133859: 'MENS TROUSER MICROFIBER A-1207', 135219: 'MENS TROUSER MICROFIBER A-1362', 135220: 'MENS TROUSER MICROFIBER A-1384', 135221: 'T-SHIRT H/S V/N', 135222: 'T-SHIRT H/S C/F', 135223: 'T-SHIRT H/S R/N', 135224: 'MENS TROUSER FRENCH TERRY', 135225: 'MENS SWIMMING SHORT', 135226: 'BOYS SWIMMING SHORT', 139762: 'FRENCH TERRY TRACK SUIT', 139763: 'MICRO FLEES SUIT', 149002: 'MICRO FIBRIC SPORTS TRACK SUIT', 150037: 'MENS HOOD', 150545: 'MICRO FIBRIC JOGGING TRACK SUIT', 156507: 'MENS JAKET MICRO FIBRIC', 171112: 'MENS SPORTS TROUSER', 171113: 'MENS JOGGING TROUSER', 175370: 'MENS FULL SLEEVE SHIRT', 175419: 'MENS V NECK SHIRT F/S', 175423: 'TRACK SUIT LADIES', 125615: 'KIDS TRACK SUITS', 122706: 'T.SHIRT', 122710: 'SOCCER UNIFORM', 122711: 'MENS SHORTS', 122712: 'MENS3/4 TROUSER MICRO', 122713: 'MENS HOOD/JACKET', 122714: 'SPORTS SHIRTS', 123516: 'MENS SHORTS ASSORTED', 123518: 'MENS3/4 TROUSER', 123519: 'A6034', 123520: 'A6020, A6012', 125523: 'A1386, A1386B', 128192: 'A5028', 128193: 'AW.AYS MICRO TROUSER ASSORTED', 131045: 'TROUSER SOFINI', 131049: 'DOLL HOUSE 24PCS', 131055: "ABEERAZ MEN'S PIQUE POLO S/XL", 131057: 'EPSON PRINTER RIBBON FX1170', 131058: 'EPSON C-59 INKJET PRINTER', 131059: 'EPSON C-87+ INKJET PRINTER', 131062: 'EPSON R230 INKJET PHOTO PRINTER', 131066: 'EPSON CX2900 3 IN 1 PHOTO PRINTER', 131068: 'EPSON LQ300+II DOT MATRIX PRINTER', 131070: 'EPSON CX5900 3 IN 1 PHOTO PRINTER', 132143: 'EPSON LX300+II DOT MATRIX PRINTER', 132144: 'EPSON TM-220PD RECEIPT PRINTER', 132145: 'EPSON TM-220PA RECEIPT PRINTER', 135887: 'EPSON LQ-2090 DOT MATRIX PRINTER', 135897: 'EPSON PRINTER RIBBON LQ300+/+II', 135901: 'EPSON PRINTER RIBBON LX300+/+II', 135903: 'EPSON PRINTER RIBBON LQ-2090', 135904: 'EPSON PRINTER RIBBON DFX-9000', 135905: 'EPSON PRINTER RIBBON DFX5000/8500', 135906: 'EPSON PRINTER RIBBON TMU220', 142036: 'BRAUN LADY EPILATOR SE 2170', 142037: 'BRAUN HAIR DRYER A 1000', 142038: '600 WATT', 142039: 'L/SLV JACKET FRONTOPEN W/BUTTO', 145802: 'L/SLV T-SHIRT W/ ROUND NK BIND', 145803: 'DENIM SKIRT W /APPLIQUE PANEL', 145804: 'SKIRT AS/APP MATCHING FAB', 145805: 'T-SHIRT LONG SLEEVES', 150885: 'DENIM SKIRT', 150886: 'L/S T WITH APPLIQUE & PRINT', 150887: 'SKIRT OF FABRIC COMBO -1', 150888: 'SKIRT OF FABRIC COMBO -2', 150889: 'SKIDS GIRLS T-W-APP & PRINT-6-', 151021: 'PANT OF FABRIC COMBO -1', 171689: 'PANT OF FABRIC COMBO -2', 135844: 'T-SHIRT W/PATCH FOLDER AT ARMH', 159855: 'CAMOUFLAGE PANT', 111727: 'L/SLV T WITH CONTRAST NK THREA', 111760: 'DENIM PANT', 111761: 'BASIC SHORT SLV CREW NECK T-SH', 111765: 'POCKETING POPLIN PANT', 111766: 'MOCK NECK FRONTOPEN SWEATSHIRT', 111767: 'FLEECE HOOD SWEATSHIRT W/KANGR', 111768: 'TWILL CARGO PANT 5-12YRS', 111769: 'WOVEN CHECK SHIRT', 111770: 'OXFORD WOVEN SHIRT', 111773: 'SKIDS GIRLS 3/4 SLV SHIRT-6-12', 111775: 'L/S RAGLON SHIRT W/CONTRAST BO', 111777: 'SOLID COLOR RUGBY', 111779: 'RUGBY YARNDYED', 111783: 'RAGLON SHIRT W/ FRON EMBELISHM', 111784: 'TEES WITH EMBELLISHMENT', 111785: 'BOXER SHORTS', 111786: 'BOXER LONG 3/4 LENGHT', 153960: 'KNITTED VEST JERSEY', 153963: 'LADIES HOOD WITH SATIN LINING', 153967: 'L/S KNITTED LADY  CREW NECK', 111788: 'L/S KNITTED LADY  FASHION POLO', 111793: "MEN'S WOVEN BOXER", 111794: 'SKIDS GIRLS DENIM SKIRT 5-10YR', 111795: 'SKIDS GIRLS DENIM DK SKIRT 5-1', 111796: 'SKIDS GIRLS DENIM LT SKIRT 5-1', 111797: 'SKIDS GIRLS SHIRT APPLIQ 5-10Y', 111803: 'SKIDS GIRLS SHIRT WT APLIQ 5-1', 111806: 'SKIDS GIRLS SHIRT RT APLIQ 5-1', 111809: 'SKIDS GIRLS FABRIC SKIRT 5-10Y', 111813: 'SKIDS GIRLS SKIRT COMBO1 5-10Y', 111815: 'SKIDS GIRLS SKIRT COMBO2 5-10Y', 111820: 'SKIDS GIRLS SHIRT APPLIQ 5-12Y', 111821: 'SKIDS GIRLS SHIRT COMB1 AP 5-1', 111822: 'SKIDS GIRLS SHIRT COMB2 AP 5-1', 111823: 'SKIDS GIRLS CAPRICE 5-12YR', 111824: 'SKIDS GIRLS CAPRICE VOILET 5-1', 111825: 'SKIDS GIRLS CAPRICE PINK 5-12Y', 111828: 'SKIDS BOYS SHIRT APPLIQ 5-12YR', 111829: 'SKIDS BOYS SHIRT APPQ MRN 5-12', 111831: 'SKIDS BOYS SHIRT APPQ GRN 5-12', 111833: 'SKIDS BOYS SHIRT ROND NCK 5-12', 111836: 'SKIDS BOYS SHIRT R-NCK BL 5-12', 111838: 'SKIDS BOYS SHIRT R-NCK YL 5-12', 111841: 'SKIDS BOYS SHIRT 5-12YR', 111844: 'SKIDS BOYS SHIRT BLACK 5-12YR', 111845: 'SKIDS BOYS SHIRT GREY 5-12YR', 111846: 'SKIDS BOYS HOOD 5-12YRS', 111847: 'SKIDS BOYS HOOD BLACK 5-12YRS', 111848: 'SKIDS BOYS HOOD GREY 5-12YRS', 111849: 'SKIDS BOYS FLEECE HOOD 5-12Y', 111850: 'SKIDS BOYS FLEECE HOOD BRWN 5-', 111851: 'SKIDS BOYS FLEECE HOOD BLUE 5-', 111852: 'SKIDS BOYS WOVEN SHIRT 5-12YRS', 111854: 'SKIDS BOYS WOVEN SHRT BLE 5-12', 111855: 'SKIDS BOYS WOVEN SHRT GRY 5-12', 111953: 'SKIDS GIRLS SHIRT FLORAL 5-12Y', 111954: 'SKIDS GIRLS SHRT FLR WHT 5-12Y', 111955: 'SKIDS GIRLS SHRT FLR GRN 5-12Y', 111957: 'SKIDS GIRLS SHIRT LACES 5-12YR', 111962: 'SKIDS GIRLS SHRT LACS GRN 5-12', 111968: 'SKIDS GIRLS SHRT LACS PNK 5-12', 111971: 'SKIDS BOYS WOVEN BOXERS 5-12YR', 111972: 'SKIDS BOYS WOVEN BOXERS 5-6YRS', 111978: 'SKIDS BOYS WOVEN BOXERS 7-8YRS', 111981: 'SKIDS MENS WOVEN BOXER S- XL', 111986: 'SKIDS BOYS WOVEN BOXERS 9-10YR', 111987: 'SKIDS BOYS WOVEN BOXERS 11-12Y', 111989: 'SKIDS BOYS BOXERS LONG WVN 5-1', 111990: 'SKIDS BOYS BOXERS LONG WVN 5-6', 111991: 'SKIDS BOYS BOXERS LONG WVN 7-8', 112019: 'SKIDS BOYS BOXERS LONG WVN 9-1', 112021: 'SKIDS BOYS BOXRS LONG WVN 11-1', 112022: 'SKIDS BOYS SLVLESS SHRT 5-12 Y', 112026: 'SKIDS BOYS SLVLESS BLACK 5-12', 112028: 'SKIDS BOYS SLVLESS BLUE 5-12 Y', 112032: 'SKIDS BOYS SLVLESS WHITE 5-12', 112034: 'SKIDS MENS WOVEN BOXER S', 112077: 'SKIDS MENS WOVEN BOXER M', 112080: 'SKIDS MENS WOVEN BOXER L', 112081: 'SKIDS MENS WOVEN BOXER XL', 112085: 'KNITTED WITH FRILL', 113074: 'FLORAL PANT', 113076: 'WOVEN SHIRT', 113077: 'DOBBY PANT', 113078: 'COTTON PRINTED FRILL', 113083: 'ELASTIGATED FROCKS', 113084: 'KNITTED VEST', 113087: 'KNITTED FRILL TOP', 113088: 'SOLID WOVEN SHIRT', 113089: 'COTTON FROCKS', 113098: 'KNITEED ELASTIGATED FROCK', 113100: 'KNITTED VEST-SKIRT SET', 113101: 'PEICED KNITTED SHIRTS', 113102: 'GRIP -CREPE SKIRT', 113110: 'PRINTED CAPRICE', 113111: 'SLVLESS POLO', 113112: 'PRINTED KNITTED', 113113: 'RAGLON TEE', 113114: 'POPLIN TROUSER', 113125: 'ASSORTED KNITTED SHIRTS', 113126: 'TERRY TROUSER', 113128: 'POPLIN FASHION', 113129: 'YARN DYED WOVEN', 113132: 'KNITTED SHIRT', 113134: 'POLO', 113138: 'HENLEY', 113142: 'KNITTED TEES', 113147: 'PEICED T-SHIRT', 113148: '2-PC SET', 113150: 'LINEN SHIRTS', 113151: 'MC-320B', 113157: 'KNITTED SHIRTS', 113160: 'B-001A+B', 113162: 'B-002A+B', 113165: 'G-006A+B+C', 113166: 'G-08A+B+C', 113167: 'G-09A+B', 113168: 'B-03', 113169: '103', 113170: '102', 113173: 'B-06A+B', 113177: '206', 113179: 'G-02A+B CHIFON', 113180: 'G-03', 113181: 'G-04A+B+C', 113183: 'G-207', 113185: 'G-208', 113187: 'G-0710-A+B+C', 113191: 'G-0711-A+B+C', 113193: 'G-0712-A+B+C', 113194: 'GIRLS KURTA SHALWAR', 113197: 'FUEL INJECTOR CLEANER 12OZ STP', 113198: 'POLYPLUS GREASE 16OZ STP', 113199: 'ORIGINAL PROTECTANT 4 OZ AA', 113200: 'LEATHER CARE 9.5 OZ AA', 113201: 'ATF 946ML STP', 113202: 'WD40 - 400ML', 113203: 'RED SPRAY PAINT ASMACO', 113204: 'BLUE SPRAY PAINT ASMACO', 126672: 'GOLDEN SPRAY PAINT ASMACO', 126673: 'SILVER SPRAY PAINT ASMACO', 126675: 'WHITE SPRAY PAINT ASMACO', 126677: 'BLACK SPRAY PAINT ASMACO', 126679: 'CANARY YELLOW SPRAY PAINT ASMACO', 126680: 'FLO ORANGE SPRAY PAINT ASMACO', 126681: 'FLO PINK SPRAY PAINT ASMACO', 126682: 'STP BRAKE FLUID', 126683: 'CAR WASH 24OZ AA', 126684: 'ULTRA SHINE CAR WASH&WAX 64OZ AA', 126685: 'CARTON PACK', 126686: 'COM FUEL SYSTEM CLEANER 12 OZ STP', 126687: 'ENGINE OIL TREATMENT 15 OZ STP', 126688: 'LCD/ TFT CLEANER 200ML PERFECT', 126689: 'GE 15W 3U T-3 WW B22', 126690: 'ACER ASPIRE 5720-301G16MI LAPTOP', 126691: 'ACER ASPIRE 5310-300508 GEMSTONE', 126692: 'DC1.8,512,80GB, KB,MOUSE', 126693: 'FERRARI F 17" LCD MONITOR + TV', 126694: 'ACER ASPIRE 5720Z', 126695: 'ACER 17" MM LCD MONITOR 1717FS', 126696: 'ACER 19" LCD MONITOR', 126697: 'C2D1.6G,1GB,160GB,DVD SUPER,LI', 126698: 'ACER FERRARI 1005 WTMI LAPTOP', 126699: 'DC1.8,512,80GB, KB,MOUSE.SPKR,', 126700: 'C2D,512,80GB, KB,MOUSE.SPKR,AT', 126701: 'ACER VERITON 1000 VPRO C2D PC', 126702: 'FERRARI F 19" LCD MONITOR + TV', 126703: 'C2D, 1GB, 160GB, VISTA BUS., D', 126704: 'C2D2.0G,2GB,160,CAM,BT,SUPER,V', 126705: 'WIDESCREEN, 2500:1,5MS RESPONS', 126706: 'ACER 19" MONITOR AL1916 WDS', 126707: 'ACER 20" MONITOR AL2016WB', 126708: 'ACER 17" LCD MONITOR 1716FS', 126709: 'DC1.8,1GB,120GB,15.4", LINUX', 126710: 'ACER ASPIRE 5920-5A1G16MI', 126711: 'ACER  17" AL1702WB MONITOR', 126712: 'C2D,1GB,160GB, KB,MOUSE,DVDR', 126713: 'DC1.6,1GB,80GB,VISTA BAS,CAM,D', 126714: '32/64 BIT', 126715: 'DC2.0,14",1GB,120GB,LINUX,WIFI', 126716: 'MULTIMEDIA, 5MS', 126718: '1.8 DUAL CORE,1GB,LAN,160BG HD', 126745: 'C2D2GHZ,256MB,3GB,BT,VISTA,CAM', 126747: 'C2D2.0,4GB,320GB,BT,VISTA,512M', 126749: 'ACER ASPIRE 5920-602G16MI', 126752: 'DC2.10,14.1",3GB,320GB,BT,CAM,', 126757: 'ACER  17" V173WB MONITOR', 126760: 'MULTIMEDIA, 5MS RESPONSE TIME', 126761: 'DC2.0GH,2GB,160HDD,BT,12.1,CAM', 126766: 'WIDESCREEN,16:9,5MS RESPONSE', 131030: 'DC2.4GH,320GB HDD,2GB RAM,KB,M', 131032: 'CEL2.2,1GB,160GB,14.1,CAM,LINU', 131034: 'M.M.LCD,5MS RESPONSE TIME', 131038: '5MS, CONTRAST 2000:1', 131039: 'ATOM1.6,1GB,16GB,WIFI,8.9",LAN', 131262: 'DC2.0,17",512MB,3GB,320GB,VIST', 131263: 'DC2.0,2GB,250GB,BT,15.5",CAM', 131265: 'C2S1.4,3GB,320GB,14",VISTA,DVD', 131266: 'AT1.6,1GB,160GB,WIFI,10.1",XPH', 131267: 'C2S1.4,4GB,320GB,15",VISTA,DVD', 131268: 'DC2.0, 15.6",1GB,160GB,CAM,LIN', 131269: 'DUALCORE,RAM 1GB, MOUSE+KEYBOA', 131270: 'ATOM,1GB,160GB,DVDRW,WIFI,XP,1', 131271: '10000:1,5MS, 1680X1050RES.', 131272: '50000:1,DVI, 1920X1080RES,FULL', 131274: 'TOUCHMATE USB WEBCAM 1.3MP', 131277: 'TM OPTICAL SENSOR USB MOUSE,MOP29', 131278: 'TM MM OPTICAL MOUSE,MOP30', 134377: 'TM WIRELESS OPTICAL MOUSE,RFOP65', 102936: 'TOUCHMATE KEYBOARD PS2,KB2000E', 102940: 'TM MM KEYBOARD PS2/USB,KB8000E', 102943: 'TOUCHMATE NOTEBOOK COOLER PAD', 102946: 'TOUCHMATE NOTEBOOK SKIN', 102953: 'AT1.6,1GB,160GB,WIFI,10.1",XP,', 119803: 'DC2.2GHZ,15.6",2GB,250GB,DVD,W', 121861: 'DC1.3GH,14",4GB,320GB,HDMI,WFI', 121862: 'DC2.2GH,15.6",4GB,320GB,BT,HDM', 121863: 'C2D2.2GH,15.6",4GB,320GB,WIFI,', 121864: '2.13GH320GB BT WIFI LINUX DVD', 121865: '40,000:1,5MS,1920X1080 RESOL', 121866: 'SUPERMULTI FOR NOTEBOOK/NETBOO', 121867: 'TM MM KEYBOARD PS2/USB,KB8500E', 121868: 'TOUCHMATE 2.1 SPEAKERS 1400W', 121869: 'TOUCHMATE 2.1 DIGITAL SPEAKERS', 121871: 'TOUCHMATE 5.1 DIGITAL SPEAKER', 132574: 'CI5,2GB DDR3,250GB HDD,15.6" L', 132575: 'DC2.3GHZ,15.6",2GB,250GB,DVD,W', 132576: '10.1",1.6GHZ ATOM,1GB,160GB,WI', 135934: '2GB,320GBHD,15.6" LED,DVD,BT,C', 136252: 'OS:ANDROID,10.1LED,1GBRAM,160G', 144101: 'CI3,2GB,320GB,KEYBOARD,MOUSE', 153095: 'TOUCHMATE NOTEBOOK BAG,TM603', 153096: '1GBDDR3,HDD250GB,CAM,BT,WIN7', 161137: '32 BIT OEM WITH DVD', 169657: 'NOKIA 2310 CELL PHONE', 119936: 'NOKIA 5200 CELL PHONE', 120261: 'NOKIA 5300 CELL PHONE', 120263: 'NOKIA 6070 CELL PHONE', 120679: 'NOKIA 6300 CELL PHONE', 120723: 'NOKIA E61-I CELL PHONE', 120978: 'NOKIA N70 CELL PHONE', 120979: 'NOKIA N70 MUSIC EDITION  PHONE', 122741: 'NOKIA N72 GOLD CELL PHONE', 122744: 'NOKIA N76 CELL  PHONE', 122747: 'NOKIA N93-I CELL  PHONE', 122748: 'NOKIA E62 CELL  PHONE', 122750: 'NOKIA 5700 CELL  PHONE', 122751: 'NOKIA E50 CELL PHONE', 122752: 'NOKIA E50 CELL PHONE WTIH CAMERA', 123763: 'NOKIA 6131 CELL PHONE', 124483: 'NOKIA 8600 LUNA CELL PHONE', 126029: 'SP', 126031: 'NOKIA 3500 CELL PHONE', 127450: 'NOKIA 1208 CELL PHONE', 128355: 'NOKIA 2630 CELL PHONE', 128363: 'NOKIA 1650 CELL PHONE', 128364: 'NOKIA 6080 CELL PHONE', 129079: 'NOKIA 5310 CELL PHONE', 130741: 'NOKIA 2600 CELL PHONE', 133099: 'NOKIA 5610 CELL PHONE', 133100: 'NOKIA 2626 CELL PHONE', 135073: 'NOKIA 6500 CLASSIC CELL PHONE', 135631: 'NOKIA N82 CELL PHONE', 135668: 'NOKIA 7610 CELL PHONE', 135672: 'NOKIA 2760 CELL PHONE', 137506: 'NOKIA 5000 CELL PHONE', 137507: 'NOKIA 1680 CELL PHONE', 137603: 'NOKIA 3120 CLASSIC', 137611: 'NOKIA 3600 SLIDE', 138926: 'NOKIA 6555', 138927: 'NOKIA 6600 SLIDER', 138928: 'NOKIA E51', 139789: 'NOKIA N78 CELL PHONE', 139952: 'NOKIA 7070 CELL PHONE', 139959: 'NOKIA 7610 SUPER NOVA', 140372: 'NOKIA 7210 SUPER NOVA', 140457: 'NOKIA 7310 SUPER NOVA', 141251: 'NOKIA 2680 CELL PHONE', 141252: 'NOKIA 1202 CELL PHONE', 141253: 'WITH 4GB MEMORY CARD', 141447: 'NOKIA 1209', 141658: 'NOKIA 1661', 141668: 'NOKIA 5320 CELL PHONE', 141669: 'NOKIA 5130 CELL PHONE', 141700: 'NOKIA 1662', 141701: 'NOKIA 2600', 141971: 'NOKIA 2330', 141974: 'NOKIA 5530', 141975: 'NOKIA 1203', 141976: 'NOKIA E52', 141977: 'N97 CELL PHONE MINI', 141978: 'TFT65K,CAM,TALK5:20H,MEM 32MB,', 141983: 'AMOLED CAPACITIVE TS 16MCOL,16', 141984: 'TFT RESIS 56K,CAM 2MP,RAM 10MB', 144520: '3PC PILLAR CANDLE 8"', 144521: '3PC HOUSEHOLD CANDLE 8"', 144522: '3PC P

In [147]:
#here is handling the products and there serial ids as both must be in a sequence
import random
final_products = []
final_serial = []

for i in range(0,1000):
  key,value=random.choice(list(dic.items()))
  final_products.insert(i,key)
  final_serial.insert(i,value)

In [148]:
#here i am generating the Quantity of the products

quan = []
for i in range(0,1000):
  num1 = random.randint(1, 99)
  quan.insert(i,num1)


len(quan)

1000

In [149]:
#here i am generating the reciept id  of the saling products

recpiet_id = []
for i in range(0,1000):
  aa = random.randint(1,200)
  recpiet_id.insert(i,'0000'+str(aa))

sor = sorted(recpiet_id, reverse=False)

In [150]:
#here i am setting price of the product
pri = []
for i in range(0,1000):
  pr = random.randint(2, 9999)
  pri.insert(i,pr)


len(pri)

1000

In [151]:
import random
import time


def str_time_prop(start, end, format, prop):
    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))
def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop)
print(vari)
dat = []
vari = random_date("1/1/2018 9:00 AM", "12/31/2018 10:00 PM", random.random())

for i in range(0,999):
  if sor[i]==sor[i+1]:
    dat.insert(i,vari)
  else:
    vari = random_date("1/1/2018 9:00 AM", "12/31/2018 10:00 PM", random.random())
    dat.insert(i,vari)

dat.insert(len(dat)+1,vari)

07/13/2018 07:20 PM

In [152]:
#here i am generating the Unit_price
Unit_price = []
for i in range(0,1000):
  Unit_price.insert(i,pri[i]/quan[i])
len(Unit_price)

1000

In [153]:
#here i am generating the cost price
cost_price = []
for i in range(0,1000):
  get = (5/100)*Unit_price[i]
  cos = Unit_price[i]-get
  cost_price.insert(i,cos)

len(cost_price)

cost_price[4]

88.98333333333333

In [154]:
#here i am setting all the values into a dictionary   
dict = {'Products':final_serial, 'Reciept_ID':sor,'Serial No.': final_products, 'Quantity':quan, 'Sales Price':pri,'Unit Price':Unit_price,'Cost_Price':cost_price, 'Date and Time':sorted(dat,reverse=False)}  
     
df = pd.DataFrame(dict) 
  
# saving the dataframe 
df.to_csv('finaldataset.csv')

In [155]:
df = pd.read_csv('/content/finaldataset.csv')
df.head(10)

   Unnamed: 0                        Products  ...   Cost_Price        Date and Time
0           0        TWILL CARGO PANT 5-12YRS  ...    54.036567  01/02/2018 02:00 PM
1           1  SKIDS GIRLS SHIRT WT APLIQ 5-1  ...    62.163043  01/02/2018 02:00 PM
2           2        TWILL CARGO PANT 5-12YRS  ...  1799.537500  01/02/2018 02:00 PM
3           3      FLOATY BLACK CURRANT 50PCS  ...    63.220548  01/02/2018 02:00 PM
4           4  FAIRLINE BATHSHEET 90X150CM BE  ...    88.983333  01/02/2018 02:00 PM
5           5                   TERRY TROUSER  ...   135.156757  01/02/2018 07:40 PM
6           6  TFT RESIS 56K,CAM 2MP,RAM 10MB  ...   123.360667  01/02/2018 07:40 PM
7           7  DC1.3GH,14",4GB,320GB,HDMI,WFI  ...   236.486667  01/05/2018 01:20 AM
8           8                       G-08A+B+C  ...   378.654167  01/05/2018 01:20 AM
9           9        RIZVI SPIRAL NOTECOPY #1  ...    14.907692  01/05/2018 01:20 AM

[10 rows x 9 columns]

In [156]:
 new_df = df[['Products','Serial No.','Quantity']].value_counts().to_frame()
 new_df

                                                    0
Products                       Serial No. Quantity
BASIC SHORT SLV CREW NECK T-SH 111761     2         2
DC2.0,14",1GB,120GB,LINUX,WIFI 126715     45        2
NOKIA 3120 CLASSIC             137603     85        2
FAIRLINE FACE TOWEL 30X50CM IV 113346     42        2
LEATHER CARE 9.5 OZ AA         113200     69        2
...                                                ..
PANASONIC DVD CAMCDR VDR-D160E 239410     40        1
PANASONIC CD-MP3 PLAYER CQ5303 241902     67        1
PANASONIC CD-MP3 PLAYER CQ-770 241905     70        1
                                          67        1
1 - 2 KG                       179090     31        1

[991 rows x 1 columns]

In [157]:
df[['Serial No.','Products','Quantity','Sales Price']].head(20)

    Serial No.                        Products  Quantity  Sales Price
0       111768        TWILL CARGO PANT 5-12YRS        67         3811
1       111803  SKIDS GIRLS SHIRT WT APLIQ 5-1        46         3010
2       111768        TWILL CARGO PANT 5-12YRS         4         7577
3       123849      FLOATY BLACK CURRANT 50PCS        73         4858
4       153439  FAIRLINE BATHSHEET 90X150CM BE         6          562
5       113126                   TERRY TROUSER        37         5264
6       141984  TFT RESIS 56K,CAM 2MP,RAM 10MB        75         9739
7       121861  DC1.3GH,14",4GB,320GB,HDMI,WFI        30         7468
8       113166                       G-08A+B+C        24         9566
9       117810        RIZVI SPIRAL NOTECOPY #1        91         1428
10      133836  EURO/IGLI CORRECTION FLUID PEN        61         2593
11      141251           NOKIA 2680 CELL PHONE        75         1328
12      150286          10PC 10" SPIRAL CANDLE        28         7977
13      123851                  T1 SMOKED VEAL        10         9024
14      113098       KNITEED ELASTIGATED FROCK        51         1535
15      153448     SURGICAL MASK GREEN (50PCS)        28         4500
16      111991  SKIDS BOYS BOXERS LONG WVN 7-8        20         2241
17      113076                     WOVEN SHIRT        62         7373
18      133859  MENS TROUSER MICROFIBER A-1207        67         1780
19      111981    SKIDS MENS WOVEN BOXER S- XL        65         6432

In [158]:
df[['Serial No.','Products','Quantity','Sales Price']]

     Serial No.                        Products  Quantity  Sales Price
0        111768        TWILL CARGO PANT 5-12YRS        67         3811
1        111803  SKIDS GIRLS SHIRT WT APLIQ 5-1        46         3010
2        111768        TWILL CARGO PANT 5-12YRS         4         7577
3        123849      FLOATY BLACK CURRANT 50PCS        73         4858
4        153439  FAIRLINE BATHSHEET 90X150CM BE         6          562
..          ...                             ...       ...          ...
995      112080        SKIDS MENS WOVEN BOXER L        41         2290
996      133857   MEN A.WAYS THREE QURTER SHORT        86         3370
997      126029                              SP        76         5086
998      113325         PANASONIC HIFI SC VK-31         2         6775
999      131057     EPSON PRINTER RIBBON FX1170        57         2771

[1000 rows x 4 columns]

In [179]:

df1 = df[['Products','Reciept_ID','Serial No.','Quantity','Sales Price','Unit Price','Cost_Price','Date and Time']]
df1

                           Products  ...        Date and Time
0          TWILL CARGO PANT 5-12YRS  ...  01/02/2018 02:00 PM
1    SKIDS GIRLS SHIRT WT APLIQ 5-1  ...  01/02/2018 02:00 PM
2          TWILL CARGO PANT 5-12YRS  ...  01/02/2018 02:00 PM
3        FLOATY BLACK CURRANT 50PCS  ...  01/02/2018 02:00 PM
4    FAIRLINE BATHSHEET 90X150CM BE  ...  01/02/2018 02:00 PM
..                              ...  ...                  ...
995        SKIDS MENS WOVEN BOXER L  ...  12/31/2018 03:21 AM
996   MEN A.WAYS THREE QURTER SHORT  ...  12/31/2018 03:21 AM
997                              SP  ...  12/31/2018 03:21 AM
998         PANASONIC HIFI SC VK-31  ...  12/31/2018 11:11 AM
999     EPSON PRINTER RIBBON FX1170  ...  12/31/2018 11:11 AM

[1000 rows x 8 columns]

In [190]:
df1.head(10)

                         Products  Reciept_ID  ...   Cost_Price        Date and Time
0        TWILL CARGO PANT 5-12YRS           1  ...    54.036567  01/02/2018 02:00 PM
1  SKIDS GIRLS SHIRT WT APLIQ 5-1           1  ...    62.163043  01/02/2018 02:00 PM
2        TWILL CARGO PANT 5-12YRS           1  ...  1799.537500  01/02/2018 02:00 PM
3      FLOATY BLACK CURRANT 50PCS           1  ...    63.220548  01/02/2018 02:00 PM
4  FAIRLINE BATHSHEET 90X150CM BE           1  ...    88.983333  01/02/2018 02:00 PM
5                   TERRY TROUSER           1  ...   135.156757  01/02/2018 07:40 PM
6  TFT RESIS 56K,CAM 2MP,RAM 10MB          10  ...   123.360667  01/02/2018 07:40 PM
7  DC1.3GH,14",4GB,320GB,HDMI,WFI          10  ...   236.486667  01/05/2018 01:20 AM
8                       G-08A+B+C          10  ...   378.654167  01/05/2018 01:20 AM
9        RIZVI SPIRAL NOTECOPY #1          10  ...    14.907692  01/05/2018 01:20 AM

[10 rows x 8 columns]

In [191]:
#generation the corealltion martix textually
corrMatrix = df1.corr()
corrMatrix

             Reciept_ID  Serial No.  ...  Unit Price  Cost_Price
Reciept_ID     1.000000    0.003872  ...    0.044357    0.044357
Serial No.     0.003872    1.000000  ...   -0.038317   -0.038317
Quantity      -0.011957   -0.021190  ...   -0.373787   -0.373787
Sales Price    0.078640   -0.023965  ...    0.221430    0.221430
Unit Price     0.044357   -0.038317  ...    1.000000    1.000000
Cost_Price     0.044357   -0.038317  ...    1.000000    1.000000

[6 rows x 6 columns]

In [ ]:
#representing the corealtion between the data columns graphically
import seaborn as sn

sn.heatmap(corrMatrix, annot=True)
plt.show()